* {
    font-family: Basier Circle, sans-serif !important;
}

.bg-light-blue {
    background-color: #f0f1fa;
}

.py-banner {
    padding-bottom: 70px !important;
    padding-top: 80px !important;
}

.titulo-homePage {
    color: #070a39;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 70px;
    line-height: 76px;
    font-weight: 700 !important;
}

.paragraph-main {
    color: rgba(7, 10, 57, .6);
    text-align: left;
    padding-top: 10px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.w-600px {
    max-width: 600px;
}
