.linhaNavbar {
    column-gap: 20px;
}

/* Mock para navbar */
.h-85px { 
    height: 85px;
    background-color: rgba(0, 0, 0, 0);
}

.linkLogo {
    height: 50px;
    background-image: image-url('logo.svg')
}

.linkLogo:hover {
    cursor: pointer;
}

.logoObject {
    pointer-events: none;
}