@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Poppins', sans-serif  !important;
}

.linhaNavbar {
    column-gap: 20px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
}

.linkLogo {
    height: 50px;
    margin-right: 20px;
}

.linkLogo:hover {
    cursor: pointer;
}

.logoObject {
    pointer-events: none;
}

.linkNavbar {
    text-decoration: none;
    color: rgba(7, 10, 57, .8);
}

.linkNavbar:hover {
    color: rgba(7, 10, 57, 1);
}

.grow { 
    transition: all .2s ease-in-out;
}

.grow:hover { 
    transform: scale(1.05);
}