.item-navbar {
    border-color: #5c5c5c;
    border-width: 1px;
    border-right-style: solid;
    padding: 5px 10px;
}

.item-navbar::after {
    content: '>';
}

.d-flex.flex-row > *{
    margin-right: 10px;
}